[
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "{{ text }}"
        }
    },
    {
        "type": "context",
        "elements": [
            {
                "type": "plain_text",
                "text": "If you feel strongly this is a Security issue, respond to this thread and someone from our team will get back to you.",
                "emoji": true
            }
        ]
    }
]
